* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}

.logo {
  height: 100px;
}

.nav-items > ul {
  display: flex;
  margin: 20px;
}

.nav-items > ul > li {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.links {
  text-decoration: none;
  color: black;
}

.search {
  margin: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 15px;
  width: 300px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  line-height: 1.6rem;
}

.restaurant-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-image {
  width: 100%;
  height: 200px;
}

.res-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-card {
  width: 300px;
  height: 200px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.shimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    -90deg,
    #f0f0f0 25%,
    transparent 50%,
    #f0f0f0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.filter {
  display: flex;
  justify-content: space-between; /* This will put the search-container in the middle and filter-btn to the right */
  align-items: center; /* Vertically center the content */
  padding: 10px; /* Add some padding for spacing */
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search-box {
  width: 300px;
  padding: 5px;
  margin-right: 10px; /* Add some spacing between search box and button */
}

.search-btn {
  margin: 5px;
  padding: 5px;
}

.search-btn:hover {
  cursor: pointer;
}

.filter-btn {
  margin: 5px;
  padding: 5px;
}

.filter-btn:hover {
  cursor: pointer;
}

.about-us {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-us h3 {
  font-size: 20px;
  margin-top: 20px;
}

.about-us ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about-us img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.contact-us {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-us p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.contact-form h3,
.contact-info h3 {
  font-size: 20px;
  margin-top: 20px;
}

.contact-form {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
  font-size: 20px;
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.error-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.error-page p {
  font-size: 16px;
  line-height: 1.5;
}

.res-link {
  text-decoration: none;
  color: inherit;
}

/* RestaurantMenu.css */

.restaurant-menu {
  max-width: 600px;
  margin: 10 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.restaurant-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.menu-details {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.menu-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.item-name {
  flex: 2;
  font-size: 20px;
  color: #333;
}

.item-price {
  flex: 1;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: #ff5722; /* Custom color for prices */
}
